body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 0.9em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 5em;
  font-style: italic;
  color: #8ed2c9;
  letter-spacing: -3px;
  margin: 41px;
}

h2 {
  color: #ff7a5a;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: #ffb85f;
  letter-spacing: -1px;
  margin: 41px;
}

h4 {
  color: #ffb85f;
}

p {
  text-align: center;
  margin: 10px;
  font-size: 1.5em;
  /* color: rgb(117, 117, 117) */
}

.signin {
  text-align: center;
}

input {
  width: 370px;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

a {
  color: rgb(124, 124, 124);
  font-size: 18px;
}

a:hover {
  color: rgb(197, 197, 197);
  text-transform: uppercase;
  text-decoration: none;
}

.goals,
.goals-container {
  text-align: center;
}

.starcomp {
  text-align: center;
  color: #8ed2c9;
}

.reviewratingstar {
  text-align: center;
  margin: 3em 6em;
}

.logo {
  margin: 2rem 16rem 2rem 20rem;
  height: 10em;
  width: 50vw;
  text-align: center;
}
.intro {
  margin: 3em 6em;
  height: 40em;
  width: 90vw;
  text-align: center;
}
